allow shell userinit_prop:file { open getattr };
allow shell adbsecure_prop:file { open getattr };
allow shell recovery_prop:file { open getattr };
allow shell adbtcp_prop:file { open getattr };
allow shell boot_mode_prop:file { open getattr };
allow shell sys_usb_tethering_prop:file { open getattr };
allow shell sys_usb_configfs_prop:file { open getattr };
allow shell sys_usb_controller_prop:file { open getattr };
allow shell mpdecision_prop:file { open getattr };
allow shell spcomlib_prop:file { open getattr };
allow shell safemode_prop:file { open getattr };
allow shell mmc_prop:file { open getattr };
allow shell device_logging_prop:file { open getattr };
